.banner {
    display: flex;
    align-items: center;
    height: calc(100vh - 40px);
}

/* Content */
#video-bg {
    width: 73%;
    height: calc(100vh - 40px);
    position: relative;
    object-fit: cover;
    z-index: -10;
}

.banner .content {
    padding-bottom: 40px;
    width: calc(27% - 70px);
    font-size: 13px;
    margin: 0 35px;
}

.banner .content .title {
    margin-top: 10px;
    font-size: 28px;
}

.banner .content .sub-title {
    font-size: 16px;
}

.banner .content .desc {
    margin: 16px 0;
}