.selection .extensive-btn {
    color: inherit;
    display: inline;
    position: relative;
    padding-bottom: 4px;
}

.selection .extensive-btn::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #4d4d4d;
    transition: 0.5s;
}

.selection .extensive-btn:hover:after {
    width: 0;
}

.selection {
    margin: 105px 40px;
}

.selection .shop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.selection .shop .title {
    width: 275px;
    font-size: 23px;
}

.list-categories {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 40px;
}

.list-categories .category .image {
    width: 100%;
}

.list-categories .category .infor {
    margin-top: 14px;
    font-size: 14px;
}