.detail {
    display: flex;
    width: 100%;
}

.detail .imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 68%;
    position: relative;
}

.detail .imgs img {
    width: 100%;
}

.detail .desc {
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
    align-items: center;
    height: calc(100vh - 50px);
    padding: 0 64px;
    width: 32%;
}

.price {
    font-size: 14px;
}

.s-detail {
    font-size: 12px;
}

.border {
    border: #000 1px solid;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.circle {
    margin: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.btn-submit {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 45px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #000;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}